<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Kalitte.BI.ServerPlatform.Properties.Settings.KalitteRepositoryConnectionString"
      connectionString="Data Source=10.10.1.2;Initial Catalog=RiskManagement;Persist Security Info=True;User ID=sa;Password=Kalitte2010"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>