<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="Kalitte.BI.Analytics.Properties.Settings.RiskBIConnectionString"
      connectionString="Data Source=10.10.1.2;Initial Catalog=RiskManagement;Persist Security Info=True;User ID=sa;Password=Kalitte2010"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="parametersservice" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="analyticsservice" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>

      <customBinding>
        <binding name="analyticsservice" receiveTimeout="07:10:00" sendTimeout="07:10:00">
          <security authenticationMode="UserNameOverTransport" />
          <windowsStreamSecurity />
          <compressionMessageEncoding innerMessageEncoding="textMessageEncoding">
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          </compressionMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="parametersservice" receiveTimeout="07:10:00" sendTimeout="07:10:00">
          <compressionMessageEncoding innerMessageEncoding="textMessageEncoding">
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          </compressionMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost/Kalitte.RiskManagement/parameters.svc/gzip"
        binding="customBinding" bindingConfiguration="parametersservice"
        contract="ParametersService.IParametersService" name="parametersservice" />
      <endpoint address="https://localhost/Kalitte.RiskManagement/analitics.svc/gzip"
        binding="customBinding" bindingConfiguration="analyticsservice"
        contract="AnalyticsService.IAnalyticsService" name="analyticsservice" />
    </client>
    <extensions>
      <bindingElementExtensions>
        <add name="compressionMessageEncoding" type="Kalitte.BI.Shared.Wcf.Extensions.Compression.CompressionEncoderElement, Kalitte.BI.Shared,  Version=1.0.0.0, Culture=neutral, PublicKeyToken=eff68c4ff6d9b680" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
