<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="KalitteDashboardFramework" type="Kalitte.Dashboard.Framework.Configuration.DashboardFrameworkSection, Kalitte.Dashboard.Framework" />
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    <section name="DataProviderFramework" type="ServerPlatform.Configuration.DataProviderSection,ServerPlatform" />
  </configSections>
  <appSettings>
    <add key="showInitialLoginHelp" value="true" />
    <add key="ProductVersion" value="1.0" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <extnet licenseKey="NjQ4NDIzMzEsMSw5OTk5LTEyLTMx" />
  <KalitteDashboardFramework defaultProvider="SQLDashboardProvider" editorUrl="~/Pages/Dynamic/WidgetEditor.aspx" widgetMaximizeUrl="~/Pages/Dynamic/WidgetMaximize.aspx" useCache="false">
    <providers>
      <clear />
      <add authorizationEnabled="false" applicationName="DashboardApp" connectionString="SqlConstr" name="SQLDashboardProvider" type="Kalitte.Dashboard.Framework.Providers.SQLDashboardProvider,Kalitte.Dashboard.Framework" />
    </providers>
  </KalitteDashboardFramework>
  <DataProviderFramework mapDataProvider="Kalitte.RiskManagement.Framework.Providers.DashboardMapDataProvider,Kalitte.RiskManagement.Framework">
    <providers>
      <clear />
      <add name="CoğrafiVeriler" type="Kalitte.RiskManagement.Framework.Providers.TurkeyMapXMLProvider,Kalitte.RiskManagement.Framework" description="İller" />
      <add name="IlVerileri" type="Kalitte.RiskManagement.Framework.Providers.TurkeyMapDataProvider,Kalitte.RiskManagement.Framework" description="İl Verileri" />
    </providers>
  </DataProviderFramework>
  <location path="resource">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="webresource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="favicon.ico">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="app_themes/defaulttheme/defaultstyles.css">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="scriptresource.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ext.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="map.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="pages/shared/dashboard.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Handlers/CaptchaHandler.ashx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="analitics.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="parameters.svc">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/pages/shared/login.aspx" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <httpModules>
      <add name="DirectRequestModule" type="Kalitte.Dashboard.Framework.Modules.RequestModule, Kalitte.Dashboard.Framework" />
      <add name="AppHandlingModule" type="Kalitte.RiskManagement.Framework.Modules.AppModule, Kalitte.RiskManagement.Framework" />
    </httpModules>
    <httpRuntime executionTimeout="6000000" requestValidationMode="2.0" />
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
      <add path="dashboard.axd" verb="GET,HEAD" type="Kalitte.Dashboard.Framework.Handlers.DashboardHandler" validate="false" />
      <add path="DownloadHandler.ashx" verb="GET,HEAD" type="Kalitte.RiskManagement.Web.Handlers.DownloadHandler" validate="false" />
      <!--<add path="CaptchaHandler.ashx" verb="GET,HEAD" type="Kalitte.RiskManagement.Web.Handlers.CaptchaHandler" validate="false" />-->

      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="map.axd" verb="GET,HEAD" type="ServerPlatform.Handlers.MapDataHandler" validate="false" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
    <pages validateRequest="false" theme="DefaultTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ext" namespace="Ext.Net" assembly="Ext.Net" />
        <add tagPrefix="tt" namespace="Kalitte.RiskManagement.Framework.Controls" assembly="Kalitte.RiskManagement.Framework" />
        <add tagPrefix="kalitte" namespace="Kalitte.Dashboard.Framework" assembly="Kalitte.Dashboard.Framework" />
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor"/>
      </controls>
    </pages>
    <identity impersonate="false" />
    <roleManager enabled="true">
      <providers>
        <clear />
        <add applicationName="KalitteRiskManagement" connectionStringName="SqlConstr" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <membership defaultProvider="SqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlConstr" applicationName="KalitteRiskManagement" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordFormat="Hashed" />
      </providers>
    </membership>
  </system.web>
  <connectionStrings>
    
    <add name="SqlConstr" connectionString="Data Source=master.kalitte.local;Initial Catalog=csb_kalitte_risk;Persist Security Info=True;User ID=sa;Password=Kalitte2010" providerName="System.Data.SqlClient" />
    <!--<add name="SqlConstr" connectionString="Data Source=FATURA06S01\SQLSERVER2012;Initial Catalog=csb_kalitte_risk;Persist Security Info=True;User ID=sa;Password=1234qqqQ" providerName="System.Data.SqlClient" />-->
    <!--<add name="SqlConstr" connectionString="Data Source=.;Initial Catalog=RiskManagement;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="SqlConstr" connectionString="Data Source=172.17.22.104;Initial Catalog=csb_kalitte_risk;User Id=csb_kalitte;Password=Kalitte2012" providerName="System.Data.SqlClient" />-->
    <!--<add name="SqlConstr" connectionString="Data Source=10.10.1.2;Initial Catalog=RiskSon;Persist Security Info=True;User ID=sa;Password=Kalitte2010" providerName="System.Data.SqlClient" />-->
    <add name="KalitteRepositoryConnStr" connectionString="Data Source=10.10.1.2;Initial Catalog=RiskManagement;Persist Security Info=True;User ID=sa;Password=Kalitte2010" providerName="System.Data.SqlClient" />
    <add name="OlapConnectionString" connectionString="Data Source=10.10.1.2;Initial Catalog=RiskManagement;Persist Security Info=True;User ID=sa;Password=Kalitte2010" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <handlers>
      <remove name="DashboardHandler" />
      <remove name="ExtHandler" />
      <remove name="ChartImageHandler" />
      <remove name="MapHandler" />
      <remove name="DownloadHandler" />
      <remove name="ReportViewerWebControlHandler" />
      <add name="ExtHandler" path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" />
      <add name="DashboardHandler" preCondition="integratedMode" verb="GET,HEAD"
        path="Dashboard.axd" type="Kalitte.Dashboard.Framework.Handlers.DashboardHandler, Kalitte.Dashboard.Framework, Version=3.6.0.0, Culture=neutral, PublicKeyToken=006de035aafd395a" />
      <add name="DownloadHandler" preCondition="integratedMode" verb="GET,HEAD"
        path="DownloadHandler.ashx" type="Kalitte.RiskManagement.Web.Handlers.DownloadHandler, Kalitte.RiskManagement.Web" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="MapHandler" preCondition="integratedMode" verb="GET,HEAD"
        path="map.axd" type="ServerPlatform.Handlers.MapDataHandler, ServerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1f3e44f4662f5f11 " />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode"
        verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="DirectRequestModule" />
      <remove name="AppModule" />
      <add name="AppModule" preCondition="managedHandler" type="Kalitte.RiskManagement.Framework.Modules.AppModule, Kalitte.RiskManagement.Framework" />
      <add name="DirectRequestModule" preCondition="managedHandler"
        type="Kalitte.Dashboard.Framework.Modules.RequestModule, Kalitte.Dashboard.Framework, Version=3.6.0.0, Culture=neutral, PublicKeyToken=006de035aafd395a" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultBehaviour">
          <serviceSecurityAudit auditLogLocation="Application" suppressAuditFailure="false" messageAuthenticationAuditLevel="Failure" />
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceAuthorization principalPermissionMode="None" >
          </serviceAuthorization>
        </behavior>

        <behavior name="authenticatedBehaviour">
          <serviceSecurityAudit auditLogLocation="Application" suppressAuditFailure="false" messageAuthenticationAuditLevel="Failure" />
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" membershipProviderName="SqlMembershipProvider" />
          </serviceCredentials>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceAuthorization principalPermissionMode="UseAspNetRoles" roleProviderName="AspNetSqlRoleProvider">
            <authorizationPolicies>
              <add policyType="Kalitte.BI.ServerPlatform.Security.Wcf.AuthorizationPolicy, Kalitte.BI.ServerPlatform" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <bindings>

      <customBinding>
        <binding name="analyticsservice" receiveTimeout="07:10:00" sendTimeout="07:10:00">
          <security authenticationMode="UserNameOverTransport" />
          <windowsStreamSecurity />
          <compressionMessageEncoding innerMessageEncoding="textMessageEncoding">
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          </compressionMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
        <binding name="parametersservice" receiveTimeout="07:10:00" sendTimeout="07:10:00">
          <compressionMessageEncoding innerMessageEncoding="textMessageEncoding">
            <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
          </compressionMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2147483647" />
        </binding>
      </customBinding>

      <!-- Sample HttpBasicBinding Configuration -->
      <basicHttpBinding>
        <binding name="basicHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"  allowCookies="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>

      <service behaviorConfiguration="authenticatedBehaviour" name="Kalitte.BI.ServerPlatform.Services.AnalyticsService">
        <clear />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="analyticsservice" bindingName="analyticsservice" contract="Kalitte.BI.ServerPlatform.Services.IAnalyticsService">
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" name="analyticsservice"
                  contract="Kalitte.BI.ServerPlatform.Services.IAnalyticsService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/Kalitte.RiskManagement" />
          </baseAddresses>
        </host>
      </service>


      <service behaviorConfiguration="defaultBehaviour" name="Kalitte.BI.ServerPlatform.Services.ParametersService">
        <clear />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
        <endpoint address="gzip" binding="customBinding" bindingConfiguration="parametersservice" bindingName="parametersservice" contract="Kalitte.BI.ServerPlatform.Services.IParametersService">
        </endpoint>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" name="parametersservice" contract="Kalitte.BI.ServerPlatform.Services.IParametersService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost/Kalitte.RiskManagement" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <extensions>
      <bindingElementExtensions>
        <add name="compressionMessageEncoding" type="Kalitte.BI.Shared.Wcf.Extensions.Compression.CompressionEncoderElement, Kalitte.BI.Shared,  Version=1.0.0.0, Culture=neutral, PublicKeyToken=eff68c4ff6d9b680" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>
</configuration>