<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="RiskManagementDb" connectionString="metadata=res://*/Model.RiskModel.csdl|res://*/Model.RiskModel.ssdl|res://*/Model.RiskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FATURA06S01\SQLSERVER2012;initial catalog=csb_kalitte_risk;persist security info=True;user id=sa;password=1234qqqQ;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="RiskManagementDb" connectionString="metadata=res://*/Model.RiskModel.csdl|res://*/Model.RiskModel.ssdl|res://*/Model.RiskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=master.kalitte.local;initial catalog=csb_kalitte_risk;persist security info=True;user id=sa;password=Kalitte2010;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>